#movie-result {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210819/pngtree-starlight-bubbles-abstract-dreamy-gradient-pink-purple-background-image_761750.jpg");
  background-size: cover;
  background-repeat:no-repeat ;
  background-attachment: fixed;
  border: 5px solid rgba(201, 83, 83, 0);
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#book-result {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210819/pngtree-starlight-bubbles-abstract-dreamy-gradient-pink-purple-background-image_761750.jpg");
  background-size: cover;
  background-repeat:no-repeat ;
  background-attachment: fixed;
  border: 5px solid rgba(201, 83, 83, 0);
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

hr {
  height: 5px;
  background-color: rgba(255, 111, 195, 0.932);
}
